
*.asv
*.avi
*.slxc
/hw2/slprj/*
/hw3/slprj/*
/midterm/slprj/*
/external/felipe/HW2/slprj/*
/external/felipe/HW2/__MACOSX/*
*.aux
*.log
*.gz
*.r2021b
*.autosave
*.xml
project/slprj/*
project/simulink/project_sim.slx.r2021a
project/latex/figs/P1Q1.pdf
project/data.mat
project/data2.mat
