
*.asv
*.avi
*.slxc
/hw2/slprj/*
/hw3/slprj/*
/midterm/slprj/*
/external/felipe/HW2/slprj/*
/external/felipe/HW2/__MACOSX/*
*.aux
*.log
*.gz
*.r2021b
*.autosave
*.xml
project/slprj/sim/varcache/project_sim/checksumOfCache.mat
project/slprj/sim/varcache/project_sim/varInfo.mat
